h1	{
	color: #6495ED;
}

h3{
	color: rgb(255,244,232);
}

h4 {
	background: #AAAAAA;
	color: #7B68EE;
}
h5	{
	color: rgba(12, 233, 233, .7);
}

li	{
	color: #FFAAFF;
}

body	{
	background: url(https://image.freepik.com/free-vector/wooden-texture_23-2147511826.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}