h1	{
	color: #6495ED;
	background: gray;
	border-color: blue;
	border-width: 3px;
	border-style: solid;

}

h3{
	color: rgb(255,244,232);
	border: 2px solid #AA4234;
}

h4 { 
	background: #AAAAAA;
	color: #7B68EE;
}
h5	{
	color: rgba(12, 233, 233, .7);
}

li	{
	color: #FFAAFF;
}

body	{
	/*background: #AAAAF0*/
	background: url(https://image.freepik.com/free-vector/wooden-texture_23-2147511826.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}